<%- layout('layout') %>
<div class="row margin-x-120">
	<div class="col-md-9 col-sm-9 col-xs-12" id="username">
	  <div class="title margin-bottom-20">
	    <h1>姓名 Name</h1>
	  </div>
    <div class="border-left padding-left-40">
      <div class="">
        <div class="username"><%- username %></div>
	      <div class="personality">
          <%- personality %>
        </div>
      </div>
    </div>
	</div>
	<div class="col-md-3 col-sm-3 col-xs-12">
	  <img class="resume-head-pic img-circle" src="/img/neil.jpg">
	</div>
</div>

<!-- experience -->
<% if(typeof(experiences) !== 'undefined') { %>
<div class="row margin-x-120" id="experiences">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="title margin-bottom-20">
	  <h1>經歷 Experience</h1>
	</div>
	<div class="experience">
	  <ul class="experience-list">
      <% for( var x in experiences ) { %>
        <li><%= experiences[x].job_title %></li>
        <ul class="experience-inner-list margin-bottom-20">
          <li> 職務內容 <%= experiences[x].content %></li>
          <li> 任職開始 <%= experiences[x].from %></li>
          <li> 任職結束 <%= experiences[x].to %></li>
        </ul>
      <% } %>
      </ul>
	</div>
  </div>
</div>
<% } %>

<!-- school experience -->
<% if(typeof(schoolExperience) !== 'undefined') { %>
<div class="row margin-x-120" id="educations">
  <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="title margin-bottom-20">
    <h1>學歷 Educational background</h1>
  </div>
  <div class="experience">
    <ul class="experience-list">
      <% for( var x in schoolExperience ) { %>
      <li><%= schoolExperience[x].schoolName %></li>
      <ul class="experience-inner-list list-style-none">
        <li class="margin-top-20"><%= schoolExperience[x].department %></li>
        <li class="illustration illustration-green"><%= schoolExperience[x].illustration %></li>
      </ul>
      <% } %>
    </ul>
  </div>
  </div>
</div>
<% } %>

<!-- project experience -->
<% if(typeof(projects) !== 'undefined') { %>
  <div class="row margin-x-120" id="done-projects">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="title margin-bottom-20">
		    <h1>專案 Projects</h1>
	    </div>
	  <div class="experience">
	    <ul class="experience-list">
	      <% for (var x in projects) { %>
	      <li><a href="<%= projects[x].url%>" target="_blank"><%= projects[x].projectName %></a></li>
        <li class="illustration illustration-green"><%= projects[x].description %></li>
	      <ul class="experience-inner-list list-inline">
	        <% for (var y in projects[x].usingSkills) { %>
	        <li><%= projects[x].usingSkills[y] %></li>
	        <% } %>
	      </ul>
        <li class="margin-bottom-20"></li>
	      <% } %>
	    </ul>
	  </div>
    </div>
  </div>
<% } %>

<!-- skills -->
<% if(typeof(skillsRate) !== 'undefined') { %>
<div class="row margin-x-120" id="learned-skills">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="title margin-bottom-20">
      <h1>技能 skills</h1>
    </div>
    <div class="row skill-row">
    <% for (var x in skillsRate ) { %>
      <div class="col-md-2 col-sm-2 col-xs-12 margin-top-20"><%= skillsRate[x].skillName %></div>
      <div class="col-md-4 col-sm-4 col-xs-12 margin-top-20">
        <div class="progress">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= skillsRate[x].rate %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= skillsRate[x].rate %>%">
          </div>
        </div>
      </div>
    <% } %>
    </div>
  </div>
</div>
<% } %>

<!-- Contact me -->
<% if(typeof(contactMe) !== 'undefined') { %>
<div class="row margin-x-120" id="contact-me">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="title margin-bottom-20">
      <h1>聯絡資訊 Contact Me</h1>
    </div>
    <div class="contact">
      <p><%= contactMe.email%></p>
      <a class="btn btn-social-icon btn-linkedin" target="_blank" href="https://tw.linkedin.com/pub/neil-wang/1b/175/133"><i class="fa fa-linkedin"></i></a>
      <a class="btn btn-social-icon btn-facebook" target="_blank" href="https://www.facebook.com/neil.wang.961"><i class="fa fa-facebook"></i></a>
      <a class="btn btn-social-icon btn-google" target="_blank" href="https://plus.google.com/u/0/101439206602894853915/posts"><i class="fa custom-google"></i></a>
    </div>
  </div>
</div>
<% } %>